
   <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">PARIHASSMAR</div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
  
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <li><a routerLink="/alerte">Alerte</a></li>
         
         <li><a routerLink="/service">Service</a></li>
         <li><a routerLink="/sous">Sous Service</a></li>
         <li><a routerLink="/operation">Operation</a></li>

       </div>
     </ul>
   </nav>
   <router-outlet></router-outlet>
 